.logo-container{
    position: absolute;
    right: 0;
    top: 0;
}

.logo{
    width: 146px;
}
.class{
    padding: 0%;
    margin: 0%;
}
h1{
    text-align: center;
    margin-top: 0%;
}
.headd{
    padding:15px;
    display: inline;
    margin-top: 25px;
    margin-bottom: 25px;
}
a{
    color: yellow;
}
.People{
    background-color: gray;
    padding: 0%;
    font-size: 25px;
    color: yellow;
    display: block;
    height: 88px;
    width: 100%;
}
.People a:hover{
    background-color: rgb(117, 117, 74);
}
#People{
    float: left;
    margin: 30px;
}
#main{
    float: right;
    margin: 30px;
}
body{
    background-image: url(BackgroundFinal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#firstLine{
    margin: 0%;
    margin-top: 48px;
    margin-bottom: 48px;
}
#P1{
    margin-right: 48px;
}
#P2{
    margin-right: 48px;
}
#P3{
    margin-right: 48px;
}
#secondLine{
    margin: 0%;
    margin-bottom: 48px;
}
#P5{
    margin-right: 48px;
}
#P6{
    margin-right: 48px;
}
#P7{
    margin-right: 48px;
}
#thirdLine{
    margin: 0%;
    margin-bottom: 48px;
}
#P9{
    margin-right: 48px;
}
#P10{
    margin-right: 48px;
}
#P11{
    margin-right: 48px;
}
#fourthLine{
    margin: 0%;
    margin-bottom: 48px;
}
#P13{
    margin-right: 48px;
}
#P14{
    margin-right: 48px;
}
#P15{
    margin-right: 48px;
}
#fifthLine{
    margin: 0%;
    margin-top: 48px;
    margin-bottom: 48px;
}
#P16    {
    margin-right: 48px;
}
#P17{
    margin-right: 48px;
}
#P18{
    margin-right: 48px;
}
#P19{
    margin-right: 48px;
}
#P20{
    margin-right: 48px;
}
#sixthLine{
    margin: 0%;
    margin-top: 48px;
    margin-bottom: 48px;
}
#P21{
    margin-right: 48px;
}
#P8{
    margin-right: 48px;
}
