.logo-container{
    position: absolute;
    right: 0;
    top: 0;
}

.logo{
    width: 146px;
}
.class{
    padding: 0%;
    margin: 0%;
}
h1{
    text-align: center;
    margin-top: 0%;
}
a{
    color: yellow;
}
.headd{
    padding:15px;
    display: inline;
    margin-top: 25px;
    margin-bottom: 25px;
}
.Places{
    background-color: gray;
    padding: 0%;
    font-size: 25px;
    color: yellow;
    display: block;
    height: 88px;
    width: 100%;
}
.Places a:hover{
    background-color: rgb(117, 117, 74);
}
#Places{
    float: left;
    margin: 30px;
}
#main{
    float: right;
    margin: 30px;
}
body{
    background-image: url(BackgroundFinal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#firstLine{
    margin: 0%;
    margin-top: 48px;
    margin-bottom: 48px;
}
#PL1{
    margin-right: 48px;
}
#PL2{
    margin-right: 48px;
}
#PL3{
    margin-right: 48px;
}
#secondLine{
    margin: 0%;
    margin-bottom: 48px;
}
#PL4{
    margin-right: 48px;
}
#PL5{
    margin-right: 48px;
}
#PL6{
    margin-right: 48px;
}
#PL7{
    margin-right: 48px;
}

#thirdLine{
    margin: 0%;
    margin-bottom: 48px;
}
#PL9{
    margin-right: 48px;
}
#PL10{
    margin-right: 48px;
}
#PL11{
    margin-right: 48px;
}
#fourthLine{
    margin: 0%;
    margin-bottom: 48px;
}
#PL13{
    margin-right: 48px;
}
#PL14{
    margin-right: 48px;
}
#PL15{
    margin-right: 48px;
}
#PL16{
    margin-right: 48px;
}
#fifthLine{
    margin: 0%;
    margin-bottom: 48px;
}
#PL17{
    margin-right: 48px;
}
#PL18{
    margin-right: 48px;
}